$primary1: #F51720;
$primary2: #FA26A0;
$primary3: #F8D210;
$primary4: #2FF3E0;

#dareForm {
    padding-top: 18px;
}

#dareContainer {
  background: transparent;
  padding-bottom: 5px;
  padding-top: 5px;
}

#bodyid{
  background-color: #e9ebee;
}

#username {
  font-size: 2em;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  text-align: center;
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
}

.player {
  padding-bottom: 30px;
}

.dareText {
  font-size: 20px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
  border: none;
  width: 100%;
  outline: none;
  background: transparent;
}

.dareInput {
  background-color: white;
}

#multiplier {
  font-size: 40px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

#dareText {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

#level {
  font-size: 40px;
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.panel {
  margin-top: 25px;
  padding-top: 15px;
  background-color: #dfe3ee;
}

#background {
  background-color: #dfe3ee;
}

.banner {
  background-color: white;
  padding-top: 10px;
}

h1 {
  font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
}

.nav {
  padding-bottom: 15px;
}

.settings {
  padding-top: 15px;
  padding-bottom: 15px;
}

.game {
  padding-bottom: 25px;
}

.dares {
  background-color: pink;
}

button {
  background-color: Transparent;
  border: none;
}

#gridDebug{
  border: 1px solid;
}
